{{!-- Bootstrap --}}
<link rel="stylesheet" href="/assets/styles/vendor/materialize.min.css">
<script src="/assets/scripts/vendor/materialize.min.js"></script>
<div class='container'>
    <div class='col s12'>
        <h1> Idle Scraper </h1>
        <em>The best damn scraper 'round</em>
        <hr>
    </div>
    <div class='col s12'>
        <a class='waves-effect waves-light btn' id='scrape-init'>Scrape Fosters</a>
    </div>
    <div class = 'col s12' id ='results-section'>
        <span>Results</span>
    </div>

</div>
<script src="/assets/scripts/inter.js"></script>